<div class="flex justify-center items-center pb-36 pt-36 bg-gray-100">
  <div class="bg-white w-1/4 h-1/4 px-12 py-12 rounded-3xl border-2">
    <div class="text-center">
      <h2 class="text-3xl font-bold">問題設定</h2>
    </div>
      <%= form_with model: @question, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% 3.times do |i| %>
          <div class="flex flex-col mb-4">
            <%= f.label "question_#{i+1}", "問題#{i+1}", class: 'mb-2 font-bold text-lg' %>
            <%= f.text_area "questions[#{i}][question]", rows: 1, class: 'w-full p-2 border border-black rounded-md' %>
          </div>
          <div class="flex flex-col mb-4">
            <%= f.label "answer_#{i+1}", "解答#{i+1}", class: 'mb-2 font-bold text-lg text-gray-700' %>
            <%= f.text_area "questions[#{i}][answer]", rows: 1, class: 'w-full p-2 border border-black rounded-md' %>
          </div>
        <% end %>
        <%= f.submit "保存する", class: 'mt-1.5 btn btn-primary py-1 px-8' %>
      <% end %>
    </div>
  </div>
</div>