<div class="h-screen w-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white px-12 py-12 rounded-3xl border-2">
    <div class="text-center">
      <h2 class="text-3xl font-bold">通知設定</h2>
    </div>
    <div class="text-2xl">
      <%= form_with model: @notification_setting, url: notification_settings_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mt-10">
          <p>ユーザー名:</p>
          <div class="w-full p-2 border border-black rounded-md">
            <%= current_user.name %>
          </div>
        </div>
        <%# <div class="mt-5"> %>
          <%# <%= f.label :send_daily, "#{NotificationSetting.human_attribute_name(:send_daily)}:" %>
          <%# <%= f.check_box :send_daily %> 
        <%# </div> %>
        <div class="mt-5">
          <%= f.label :send_time, NotificationSetting.human_attribute_name(:send_time) %>
          <%= f.datetime_field :send_time, class: 'w-full p-2 border border-black rounded-md' %>
        </div>
        <div class="mt-2">
          <%= f.submit t('defaults.setting'), class: 'mt-1 btn btn-primary py-1 px-8' %>
        </div>
      <% end %>
    </div>
    <div class="mt-2 text-xs">
      <p>ラインのユーザー登録は<%= link_to 'こちら', line_users_new_path %></p>
    </div>
  </div>
</div>