<div class="h-auto w-auto flex justify-center items-center">
  <div class="w-1/3 h-2/3 shadow-lg rounded-3xl p-8 bg-cyan-200 border border-black mt-32 mb-32">
    <div class="text-center">
      <h2 class="text-3xl font-bold pb-2.5"><%= @user.name %>さんの解答</h2>
    </div>
    <div>
     <% if !@questions.empty? %>
        <%= form_with model: [@user, @answer_form], local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <% @questions.each_with_index do |question, i| %>
            <div class="flex flex-col mb-4">
              <%= f.label "解答#{i+1}", class: 'mb-2 font-bold text-lg text-gray-700' %>
              <%= question.question %>
              <%= f.text_area "answer#{i}", rows: 1, class: 'form-textarea mt-2 px-4 py-2 rounded-lg border-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-600' %>
            </div>
          <% end %>
          <%= f.submit t('defaults.answer'), class: 'mt-1.5 btn btn-primary py-1 px-8' %>
        <% end %>
     <% else %>
        <div>
          <p>問題を設定して下さい。</p>
          <%= link_to '問題設定へ', questions_new_path %>
        </div>
     <% end %>
    </div>
  </div>
</div>